Missing RFC supports

Can you add missing RFCs?

There are for STUN:
- RFC 3489 - "classic" STUN
- RFC 5389 - base "new" STUN specs
- RFC 5769 - test vectors for STUN protocol testing
- RFC 5780 - NAT behavior discovery support
- RFC 7443 - ALPN support for STUN & TURN
- RFC 7635 - oAuth third-party TURN/STUN authorization

RFCs 3489, 5389, 5679, and 5780 are fully supported today.
As for 7443/7635 and few others.  I have been wanting to support TLS/DTLS so some time now.  Some new open source libraries make this much more feasible than before.   I've just been waiting for a business need to do it. Basically, waiting for someone to come along make the case:  "implement this so it will interop correctly with this other standard or popular thing".

@jselbie: Thanks for your reply!

I have updated my publication and specify last STUN version.
RFC 7350/RFC 7443/RFC 7635/RFC 8489

Hope improvements :)

I'm wondering where this is going, RFC 8489 defines how the stun protocol works over DTLS.

https://datatracker.ietf.org/doc/html/rfc8489#section-6.2.1

It all depends on if WebRTC adopts DTLS for STUN.  Has this happened?

On Mon, Apr 8, 2024 at 4:35 AM Zxilly ***@***.***> wrote:

> I'm wondering where this is going, RFC 8489 defines how the stun protocol
> works over DTLS.
>
> https://datatracker.ietf.org/doc/html/rfc8489#section-6.2.1
>
> —
> Reply to this email directly, view it on GitHub
> <https://github.com/jselbie/stunserver/issues/34#issuecomment-2042518270>,
> or unsubscribe
> <https://github.com/notifications/unsubscribe-auth/AAHNSF24UALSJ7YZVJVWFXDY4J6J3AVCNFSM4MLXAYU2U5DIOJSWCZC7NNSXTN2JONZXKZKDN5WW2ZLOOQ5TEMBUGI2TCOBSG4YA>
> .
> You are receiving this because you were mentioned.Message ID:
> ***@***.***>
>


https://webrtc-review.googlesource.com/c/src/+/334743/6

Someone works on that, but it has stopped for a while.