SHA256 and more?

Can you add the SHA256 support?

Please note:
- RFC7376: Problems with Session Traversal Utilities for NAT (STUN) Long-Term Authentication for Traversal Using Relays around NAT (TURN): https://tools.ietf.org/html/rfc7376
- RFC7635: Session Traversal Utilities for NAT (STUN) Extension for Third-Party Authorization: https://tools.ietf.org/html/rfc7635
- RFC8489: Session Traversal Utilities for NAT (STUN): https://tools.ietf.org/html/rfc8489
- RFC8760: The Session Initiation Protocol (SIP) Digest Access Authentication Scheme: https://tools.ietf.org/html/rfc8760
- https://msdn.microsoft.com/en-us/library/dd949398(v=office.12).aspx

SHA-256
SHA-512/256


Do you have a business need for all these asks where such extensions would enable a deployment that is otherwise impossible?  Or is this more of a "it would cool if you did this"?
